.App {
  &-header {
    font-size: calc(10px + 2vmin);
  }

  &-container {
    .home {
      &-compteRebours {
        transform: translateY(-50%);
        width: 100%;
        background-color: #252525;
        color: #ffffff;
        max-width: 1080px;
        padding: 43px 38px;
        margin: 0 auto;
        line-height: 20px;

        &-decompte {
          font-size: 65px;
          text-align: center;
          display: flex;

          span {
            align-self: center;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
